#include <winver.h>

1 ICON "indicative.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Indicative"
      VALUE "FileDescription",  "Indicative"
      VALUE "FileVersion",      "0.1.0"
      VALUE "InternalName",     "indicative"
      VALUE "OriginalFilename", "indicative.exe"
      VALUE "ProductName",      "Indicative"
      VALUE "ProductVersion",   "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
